<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>
<body>
    <h1><%= title %></h1>

    <%- include('partials/navbar.ejs') %>

    <ul>
        <% users.forEach((user) => { %>

            <li>
                <%= user.name %> - <%= user.email %> - Idade: <%= user.age %>
            </li>
        <% }) %>
    </ul>

    <%- include('partials/foot.ejs') %>
</body>
</html>