<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>
<body>

    <h1><%= title %></h1>

    <%- include('partials/navbar.ejs') %>


 
    <form action="/register/add" method="post">
        <div>
            <label>Nome</label>
            <input type="text" name="name" placeholder="Digite seu nome">
        </div>

        <div>
            <label>Idade</label>
            <input type="text" name="age" placeholder="Digite sua idade">
        </div>

        <div>
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Digite seu e-mail">
        </div>

        <div>
            <label>Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha">
        </div>

        <button type="submit">Cadastrar</button>
    </form>

    <% if (typeof message !== 'undefined') { %>
        <%= message %>
    <% } %>

    <%- include('partials/foot.ejs') %>
</body>
</html>